@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html {
	height: 100%;
}

body {
	font-family: 'Fjalla One', sans-serif;
	background: linear-gradient(to bottom, #405166 0%, #656f6f 100%);
}

.animated-description {
	/* transform: translate(-50%, -50%);
	top: 50%;
	left: 50%; */
	display: block;
	/* position: absolute; */
    max-width: 400px;
    margin: 20px;
}

.animated-description .button {
	float: left;
	position: relative;
	bottom: -65px;
	left: 50%;
	transform: translateX(-50%) rotate(-10deg);
	color: #e55643;
	text-transform: uppercase;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}

.animated-description .button span {
	transform: skew(-10deg);
	display: block;
	float: left;
	text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px;
}

.animated-description h1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 42px;
	margin: 0;
	line-height: 65px;
	letter-spacing: 2px;
}

.animated-description .title {
	transform: translateX(-50%) rotate(-10deg);
	display: block;
	float: left;
	left: 50%;
	position: relative;
}

.animated-description .title span {
	transform: skew(-10deg);
	display: block;
	float: left;
	text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
	min-width: 10px;
	min-height: 10px;
    position: relative;
    font-size: 60px;
}

.animated-description .title:nth-child(1) {
	color: #e55643;
}

.animated-description .title:nth-child(2) {
	color: #2b9f5e;
}

.animated-description .title:nth-child(3) {
	color: #f1c83c;
}

@media (max-width: 410px){
    .animated-description .title {
        /* max-width: 370px; */
    }
    
    .animated-description .title span {
        font-size: 43px;
    }
}

@media (max-width: 328px){
    .animated-description .title {
        max-width: 220px;
    }
    
    .animated-description .title span {
        font-size: 30px;
    }
}

