.main__block{
    padding: 30px;
}

.main__block .list-group{
    padding-right: 0;
}

.main__block .list-group-item{
    background-color: inherit;
    color: #f1c83c;
}

.main__block .list-group-item:hover{
    border-left: 1px solid #533d4a;
    border-bottom: 1px solid #533d4a;
    border-right: 1px solid #533d4a;
    box-shadow: inset 1px 1px 0px #533d4a,2px 2px 0px #533d4a,3px 3px 0px #533d4a;
    transition: 0.2s;
}

.main__block .list-group-item:active{
    left: 1px;
    top: 1px;
}

@media (max-width: 410px){

}