@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

html {
	height: 100%;
}

body {
	font-family: 'Fjalla One', sans-serif;
	background: linear-gradient(to bottom, #405166 0%, #656f6f 50%,#405166  100% );
}

.header{
    box-shadow: 1px 1px 0px #533d4a,2px 2px 0px #533d4a,3px 3px 0px #533d4a,4px 4px 0px #533d4a,5px 5px 0px #533d4a;
    padding: 0;
    background-color: #333639;
}

.header .navbar-light .navbar-brand {
    display: flex;
    align-items: center;
}

.header .user__logo{
    border-radius: 50px;
    width: 50px;
}

.header .dropdown-toggle{
    border: none;
    background-color: inherit;
    outline: none;
    font-size: 1.2em;
    padding: 0 20px;
	text-shadow: #533d4a 1px 1px;
    color: #e55643;
    letter-spacing: 1.5px;
}

.header .dropdown-item img{
    width: 20px;
    filter: grayscale(100%);
}

.header .dropdown-item:hover img{
    filter: grayscale(0%);
}

.content__block h1{
    padding-top: 30px;
    color: #2b9f5e;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px;
    text-align: center;
}

footer.container-fluid{
    /* position: fixed; */
    min-height: 150px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100px;
}

footer .home__button{
    margin: 15px 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    letter-spacing: 2px;
}