.content__block .row{
    margin-bottom: 30px;
}

.content__block h2, .content__block h3{
    text-align: center;
	color: #2b9f5e;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px;
    margin-bottom: 15px;
}


.content__block input, .content__block button, .content__block .alert-warning{
    width: 100%;
    margin-bottom: 15px;
    min-height: 50px;
}

.ordinaryStudent{
    margin-bottom: 50px;
}
.content__block .alert-warning{
    /* height: 100%; */
    /* font-size: 1.2em; */
    /* margin-bottom: 15px; */
}